<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened
        fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink='/' >
                <i class="material-icons">
                    phone
                </i>
                Category Management
            </a>
            <a mat-list-item routerLink="/register">
                <i class="material-icons">
                    add
                </i>
                Device Management
            </a>
        </mat-nav-list>
    </mat-sidenav>
<mat-sidenav-container class="content">
    <router-outlet></router-outlet>
    <!-- <app-register></app-register> -->
</mat-sidenav-container>
</mat-sidenav-container>
